<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>

        <!-- JQuery and Propper.js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        
        <!-- Font CDN -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700|Open+Sans:300" rel="stylesheet">

        <!-- Styling -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

        <div class="content-of-body">
            <!-- Navbar -->
                <nav class="navbar navbar-expand-xl navbar-dark ">
                    <div class="container-fluid">
                        <!-- navbar brand icon -->
                        <a class="navbar-brand" href="/">
                                <img src="/img/favicon-yelpcamp.svg" width="50" height="50" alt="" >
                                YelpCamp
                        </a>

                        <!-- Toggle Switch For Collapse Menu -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navigation Menu Items -->
                        <div class="collapse navbar-collapse" id="navSupportedContent"> <!-- Collapsable menu -->
                            <ul class="navbar-nav ml-auto"> <!-- Right Align Menu Items -->
                                <li class="nav-item">
                                    <a href="/campgrounds" class="nav-link">Campgrounds</a> 
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Sign Up</a> 
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Log In</a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>